/**
 * Code-Highlighting styles from Nijikodo
 * @link http://www.craigiam.com/nijikodo
 */
.niji_code {
    font-family: 'monaco', courier, monospace;
    font-size: 11.5px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #03050A;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    white-space: pre-wrap;
}

.niji_code em {
    font-style: italic;
}

.niji_html {
    color: #7F90AA;
}

.niji_keyword, .niji_define {
    color: #FBDE2D;
}

.niji_int, .niji_constant {
    color: #D8FA3C;
}

.niji_comment {
    color: #E40700;
}

.niji_class, .niji_function {
    color: #8DA6CE;
}

.niji_string {
    color: #61CE3C;
}

.niji_default {
    color: #fff;
}

.niji_tag {
    color: #7F90AA;
}

.niji_method {
    color: #FF6400;
}
/* ensure bootstrap styles don't conflict */
.module_code pre {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

/**
 * Slideshow Module
 */
.module_slideshow,
.module_slideshow .module_slideshow_container {
    position: relative;
}
.module_slideshow .pagination {
    position: absolute;
    z-index: 11;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
}
.module_slideshow .pagination li {
    float: left;
    margin: 0 1px;
    padding: 0;
    list-style: none;
}
.module_slideshow .pagination li a {
    display: block;
    padding: 3px 5px;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    background-color: #eee;
    color: #000;
}
.module_slideshow .pagination li a:hover,
.module_slideshow .pagination li.current a {
    background-color: #ccc;
}
.module_slideshow .module_slideshow_item_caption {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #000;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-top: 1px solid #000;
}
.module_slideshow .module_slideshow_item_caption p {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.app_errors {
    padding: 10px 16px;
    border: 1px solid #e2d0d0;
    background: #fcf0f0;
    color: #280b0b;
}
.app_errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app_errors li {
    margin: 5px 0;
    padding: 0;
}