[submodule "lib/AppKernel"]
	path = lib/AppKernel
	url = http://github.com/vlucas/AppKernel.git
[submodule "lib/phpDataMapper"]
	path = lib/phpDataMapper
	url = http://github.com/vlucas/phpDataMapper.git
