/**
 * Admin Styles for Cont-xt CMS
 */
body {
	padding-top: 25px;
}

/*
ADMIN UI
================================================== */
.cx_ui { 
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;
	line-height: 1;
}
	.cx_ui div.jHtmlArea, .cx_ui iframe {
		border: 1px solid #ddd;
	}
	/* FORM styles */
	.cx_ui form {
		margin: 0;
		padding: 0;
	}
	.cx_ui form ol.app_form input, .cx_ui form ol.app_form textarea, .cx_ui form ol.app_form button, .cx_ui form ol.app_form input {
		font-size: 14px;
		padding: 4px;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	.cx_ui form ol.app_form {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
	}
	.cx_ui form li.app_form_field {
		display: block;
		margin: 5px 0;
		padding: 3px;
		clear: both;
	}
	.cx_ui form li.app_form_field label {
		display: block;
		margin: 0;
		padding: 5px 10px 0 10px;
		width: 100px;
		float: left;
		text-align: right;
		cursor: pointer;
		font-size: 14px;
	}
	.cx_ui form li.app_form_field_text label, .cx_ui form li.app_form_field_editor label {
		float: none;
		text-align: left;
		padding: 0 10px;
	}
	.cx_ui form li.app_form_field span {
		display: block;
		margin: 0;
		padding: 0;
		float: left;
	}
	.cx_ui form li.app_form_hidden {
		display: none;
	}
	.cx_ui form li.app_form_actions {
		clear: both;
		padding-top: 20px;
		padding-left: 120px;
	}

/*
ADMIN BAR
================================================== */
#cx_admin_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background: #333;
	border-bottom: 1px solid #000;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -moz-linear-gradient(100% 100% 90deg, #222, #444);
	z-index: 999;
}
	#cx_admin_bar_inside { height: 24px; overflow: hidden; }
	/* Navigation */
	#cx_admin_bar ul { list-style: none; margin: 0; padding: 0; }
	#cx_admin_bar ul li { float: left; margin: 0; }
	#cx_admin_bar ul li a {
		display: block;
		padding: 7px 10px 8px 10px;
		color: #eee;
		font-size: 11px;
		border-left: 1px solid #666;
		border-right: 1px solid #333;
	}
	#cx_admin_bar ul li a:hover, #imNav li.active a { background-color: #444; }
	/* add content button */
	a#cx_admin_bar_addContent {
		display: block;
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #0CA009;
		color: #fff;
		margin: 0 10px;
		padding: 10px 15px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-radius: 5px;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#61E510), to(#089B07));
		background-image: -moz-linear-gradient(100% 100% 90deg, #089B07, #61E510);
	}


/*
ADMIN PANES
================================================== */
div.cx_ui_pane {
	position: fixed;
	left: 0;
	width: 150px;
	background: #666;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	opacity: 0.8;
	z-index: 980;
}
	div.cx_ui_pane h2 {
		margin: 0;
		padding: 6px 10px;
		background: #333;
		color: #fff;
		font-size: 14px;
	}
	div.cx_ui_pane_info {
		margin: 1px;
		padding: 5px;
		background-color: #ffff99;
		color: #000;
	}
	div.cx_ui_pane_content {
		margin: 5px;
	}

#cx_admin_modules.cx_ui_pane {
	top: 25px;
	right: 0;
	display: none;
}
	#cx_admin_modules .cx_module_tile {
		margin-bottom: 5px;
		padding: 10px;
		background: #fff;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		cursor: move;
		font-weight: bold;
	}
	#cx_admin_modules .cx_module_tile:hover {
		background: #CFE9FF;
	}

/*
REGION / MODULE UI
============================= */
.cx_region {
	min-height: 10px;
}
.cx_region_highlight {
	background-color: #DFEBFF;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.cx_module_placeholder {
	background: #ccc;
	border: 2px solid #333;
	opacity: 0.6;
}
/* Module admin controls */
.cx_region .cx_module {
	position: relative;
	min-height: 20px;
}
.cx_module .cx_ui_controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	overflow: visible;
}
.cx_module .cx_ui_modulebar {
	display: none;
	position: absolute;
	top: -20px;
	left: 0;
	height: 20px;
	overflow: hidden;
	background-color: #B7B7B7;
	cursor: move;
}
	.cx_module .cx_ui_modulebar span {
		display: block;
		padding: 3px 6px;
		font-weight: bold;
	}
.cx_module.cx_ui_hover {
	background-color: #EFEFEF;
}
.cx_module.cx_ui_hover .cx_ui_modulebar {
	display: block!important;
}
.cx_module.cx_ui_hover .cx_ui_controls {
	display: block!important;
}
.cx_module .cx_ui_controls ul {
	float: right;
	list-style: none;
	margin: 0px 0 0 0;
	padding: 0;
}
	/* Module Controls */
	.cx_module .cx_ui_controls ul li {
		float: left;
		margin: 0;
		padding: 1px;
	}
	.cx_module .cx_ui_controls ul li a {
		display: block;
		padding: 2px;
		background-color: #111;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	.cx_module .cx_ui_controls ul li a:hover, #imNav li.active a {
		background-color: #AFAFAF;
		color: #000;
	}

/*
MODAL / DIALOG
============================= */
.ui-dialog {
	width: 600px!important;
}
.ui-dialog-titlebar, .ui-dialog-title {
	font-size: 12px;
	font-weight: bold;
}
	/* never show admin controls in dialog */
	#cx_modal .cx_ui_controls {
		display: none!important;
	}
	#cx_modal .cx_module.cx_ui_hover {
		background-color: transparent!important;
	}
	#cx_modal .cx_module.cx_ui_modulebar {
		display: none!important;
	}