/**
 * Admin Styles for Cont-xt CMS
 */
body {
	padding-top: 40px;
}

/*
ADMIN UI
================================================== */
.cx_ui { 
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;
	line-height: 1;
}
	/* FORM styles */
	.cx_ui form {
		margin: 0;
		padding: 0;
	}
	.cx_ui form input, .cx_ui form textarea, .cx_ui form button, .cx_ui form input {
		font-size: 14px;
		padding: 4px;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	}
	.cx_ui form ol {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
	}
	.cx_ui form li {
		display: block;
		margin: 5px 0;
		padding: 3px;
		clear: both;
	}
	.cx_ui form li label {
		display: block;
		margin: 0;
		padding: 5px 10px 0 10px;
		width: 100px;
		float: left;
		text-align: right;
		cursor: pointer;
		font-size: 14px;
	}
	.cx_ui form li.app_form_field_text label {
		float: none;
		text-align: left;
	}
	.cx_ui form li span {
		display: block;
		margin: 0;
		padding: 0;
		float: left;
	}
	.cx_ui form li.app_form_hidden {
		display: none;
	}
	.cx_ui form li.app_form_actions {
		padding-top: 20px;
		padding-left: 120px;
	}

/*
ADMIN BAR
================================================== */
#cx_admin_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: #333;
}
	#cx_admin_bar_inside { padding: 2px 4px; }
	/* Navigation */
	#cx_admin_bar ul { list-style: none; margin: 4px 0 0 0; padding: 0; }
	#cx_admin_bar ul li { float: left; margin: 0; padding: 4px; }
	#cx_admin_bar ul li a { display: block; padding: 3px 10px 4px 10px; background-color: #111; font-weight: bold; color: #fff; text-decoration: none; border-radius: 5px;  -webkit-border-radius: 5px; -khtml-border-radius: 5px; }
	#cx_admin_bar ul li a:hover, #imNav li.active a { background-color: #AFAFAF; color: #000; }

/*
ADMIN PANES
================================================== */
div.cx_ui_pane {
	position: fixed;
	width: 225px;
	background: #666;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	opacity: 0.8;
}
	div.cx_ui_pane h2 {
		margin: 0;
		padding: 6px 10px;
		background: #333;
		color: #fff;
		font-size: 14px;
	}
	div.cx_ui_pane_info {
		margin: 1px;
		padding: 5px;
		background-color: #ffff99;
		color: #000;
	}
	div.cx_ui_pane_content {
		margin: 5px;
	}

#cx_admin_modules.cx_ui_pane {
	top: 40px;
	right: 0;
}
	#cx_admin_modules .cx_module_tile {
		margin-bottom: 5px;
		padding: 10px;
		background: #fff;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		cursor: move;
		font-weight: bold;
	}
	#cx_admin_modules .cx_module_tile:hover {
		background: #CFE9FF;
	}

/*
REGION / MODULE UI
============================= */
.cx_region {
	min-height: 10px;
}
.cx_region_highlight {
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.cx_module_placeholder {
	background: #ccc;
	border: 2px solid #333;
	opacity: 0.6;
}
/* Module admin controls */
.cx_region .cx_module {
	position: relative;
}
.cx_module .cx_ui_controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}
.cx_module .cx_ui_modulebar {
	display: none;
	position: absolute;
	top: -20px;
	left: 0;
	height: 20px;
	overflow: hidden;
	background-color: #B7B7B7;
	cursor: move;
}
	.cx_module .cx_ui_modulebar span {
		display: block;
		padding: 3px 6px;
		font-weight: bold;
	}
.cx_module.cx_ui_hover {
	background-color: #EFEFEF;
}
.cx_module.cx_ui_hover .cx_ui_modulebar {
	display: block!important;
}
.cx_module.cx_ui_hover .cx_ui_controls {
	display: block!important;
}
.cx_module .cx_ui_controls ul {
	float: right;
	list-style: none;
	margin: 0px 0 0 0;
	padding: 0;
}
	/* Module Controls */
	.cx_module .cx_ui_controls ul li {
		float: left;
		margin: 0;
		padding: 1px;
	}
	.cx_module .cx_ui_controls ul li a {
		display: block;
		padding: 2px;
		background-color: #111;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	.cx_module .cx_ui_controls ul li a:hover, #imNav li.active a {
		background-color: #AFAFAF;
		color: #000;
	}

/*
MODAL / DIALOG
============================= */
.ui-dialog {
	width: 600px!important;
}
.ui-dialog-titlebar, .ui-dialog-title {
	font-size: 12px;
	font-weight: bold;
}
	/* never show admin controls in dialog */
	#cx_modal .cx_ui_controls {
		display: none!important;
	}
	#cx_modal .cx_module.cx_ui_hover {
		background-color: transparent!important;
	}
	#cx_modal .cx_module.cx_ui_modulebar {
		display: none!important;
	}