/**
 * Admin Styles for Cont-xt CMS
 */
body {
    padding-top: 40px;
}

/*
ADMIN UI
================================================== */
.cms_ui { 
    font-size: 12px;
    font-family: Arial, Tahoma, sans-serif;
    line-height: 1;
    text-transform: none;
    text-shadow: none;
}
    /* FORM styles */
    .cms_ui form {
        margin: 0;
        padding: 0;
    }
    .cms_ui form .app_form input, .cms_ui form .app_form textarea, .cms_ui form {
        font-size: 14px;
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cms_ui form .app_form textarea {
        width: 80%;
    }
    .cms_ui form .app_form_field {
        display: block;
        margin: 5px 0;
        padding: 3px;
        clear: both;
    }
    .cms_ui form .app_form_field label {
        display: block;
        margin: 0;
        padding: 6px 10px 7px 10px;
        width: 140px;
        float: left;
        text-align: right;
        cursor: pointer;
        font-size: 14px;
        background: #f5f7f8;
    }
    .cms_ui form .app_form_field span.app_form_field_input {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        background: #fff;
    }
    .cms_ui form .app_form_field span.app_form_field_after {
        display: block;
        float: left;
        padding: 5px 10px;
    }
    .cms_ui form .app_form_hidden {
        display: none;
    }
    .cms_ui form .app_form_actions {
        clear: both;
        padding-top: 20px;
        padding-left: 160px;
    }

    /* TABLE styles */
    .cms_ui table.app_datagrid {
        width: 100%;
        background: #fff;
    }
    .cms_ui table.app_datagrid thead tr th,
    .cms_ui table.app_datagrid tbody td {
        padding: 10px;
        vertical-align: middle;
    }
    /* thead/th is used for blue column labels */

    .cms_ui table.app_datagrid thead tr th {
        background: #d1e4f2;
        color: #627789;
        border-top: 1px solid #cfccc2;
        font-weight: bold;
        text-shadow: 0em 1px #fff;
        text-align: left;
        white-space: nowrap;
    }
    .cms_ui table.app_datagrid tbody tr {
        border-top: 1px solid #cfccc2;
    }
    .cms_ui table.app_datagrid tbody td {
        border-top: 1px solid #cfccc2;
    }
    .cms_ui table.app_datagrid tr.even {
        background: #f5f7f8;
    }
    .cms_ui table.app_datagrid tr.odd {
        background: #fff;
    }

/*
ADMIN BAR
================================================== */
#cms_admin_bar {
  background-color: #222;
}

a.cms_admin_bar_edit {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #0CA009;
    color: #fff!important;
    border-radius: 5px;
    border-color: #089B07;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#61E510), to(#089B07));
    background-image: -moz-linear-gradient(100% 100% 90deg, #089B07, #61E510);
}
#cms_admin_bar_editPage {
    margin-right: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
#cms_admin_bar_addContent {
    margin-left: 0;
    border-left: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
}

/*
MODAL / DIALOG
============================= */
#cms_modal {
    background: #fff;
    display: none;
}
    #cms_modal_content {
        color: #333;
        overflow: auto;
    }
    #cms_modal .cms_ui_controls {
        display: none!important;
    }
    #cms_modal .cms_module.cms_ui_edit {
        background-color: transparent!important;
    }
    #cms_modal .cms_module.cms_ui_modulebar {
        display: none!important;
    }


.ui-dialog-titlebar, .ui-dialog-title {
    font-size: 12px;
    font-weight: bold;
}
    #cms_modal .cms_ui_controls {
        display: none!important;
    }
    #cms_modal .cms_module.cms_ui_edit {
        background-color: transparent!important;
    }
    #cms_modal .cms_module.cms_ui_modulebar {
        display: none!important;
    }



/*
FILEBROWSER
================================================== */
div.cms_filebrowser ul,
div.cms_filebrowser ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.cms_filebrowser li {
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.cms_filebrowser_tile {
    z-index: 1;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
}
div.cms_filebrowser_tile nav {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    font-size: 11px;
}
div.cms_filebrowser_tile nav li {
    padding: 0 0 4px 0;
}
div.cms_filebrowser_tile nav a {
    color: #fff;
}

/*
ADMIN PANES
================================================== */
div.cms_ui_pane {
    position: fixed;
    left: 0;
    width: 150px;
    background: #666;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    opacity: 0.8;
    z-index: 980;
}
    div.cms_ui_pane h2 {
        margin: 0;
        padding: 6px 10px;
        background: #333;
        color: #fff;
        font-size: 14px;
    }
    div.cms_ui_pane_info {
        margin: 1px;
        padding: 5px;
        background-color: #ffff99;
        color: #000;
    }
    div.cms_ui_pane_content {
        margin: 5px;
    }

#cms_admin_modules {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 98px;
    border-bottom: 2px solid #222;
    visibility: hidden;
    z-index: 980;
    background: #666;
    font-family: Arial, Tahoma, sans-serif;
}
    #cms_admin_modules h3 {
        margin: 0;
        padding: 6px 4px;
        background: #333;
        color: #fff;
        font-size: 12px;
        font-family: Arial, Tahoma, sans-serif;
    }
    #cms_admin_modules .cms_module_tile {
        float: left;
        width: 80px;
        height: 80px;
        margin: 5px;
        background: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        cursor: move;
        font-weight: bold;
    }
    #cms_admin_modules .cms_module_tile:hover {
        background: #CFE9FF;
    }
    #cms_admin_modules .cms_module_tile_icon {
        width: 100%;
        padding: 10px 0;
        margin: 0 auto;
        text-align: center;
    }

/*
ADMIN SITEMAP
============================= */
#cms_pages ul {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}
#cms_pages ul li {
    display: block;
    margin: 2px 0;
}
#cms_pages ul li div.cms_pages_item {
    background-color: #ddd;
    padding: 10px;
}
.cms_pages_placeholder {
    background: #ddd;
    border: 1px solid #222;
}

/*
REGION / MODULE UI
============================= */
.cms_region, .cms_region_global {
    min-height: 10px;
}
.cms_region_highlight {
    background-color: #DFEBFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.cms_module_placeholder {
    background: #ccc;
    border: 2px solid #333;
    opacity: 0.6;
}
/* Module admin controls */
.cms_module {
    position: relative;
    min-height: 20px;
}
.cms_module .cms_ui_controls {
    display: none;
    position: absolute;
    top: -21px;
    left: 0;
    width: 200px;
    height: 21px;
    overflow: visible;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    color: #eee;
    background: #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
    background-image: -moz-linear-gradient(100% 100% 90deg, #222, #444);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    cursor: move;
    z-index: 970;
}
    .cms_module .cms_ui_controls {
        font-size: 11px;
    }
    .cms_module .cms_ui_controls .cms_ui_title {
        display: block;
        padding: 5px 8px;
        z-index: 971;
    }
.cms_module.cms_ui_edit {
    border: 2px dashed #bbb;
}
.cms_module.cms_ui_edit .cms_ui_modulebar {
    display: block!important;
}
.cms_module.cms_ui_edit .cms_ui_controls {
    display: block!important;
}
.cms_module .cms_ui_controls ul {
    position: absolute;
    top: 0;
    right: 0px;
    list-style: none;
    margin: 0px 0 0 0;
    padding: 0;
}
    /* Module Controls */
    .cms_module .cms_ui_controls ul li {
        float: left;
        margin: 0;
        padding: 0 1px;
    }
    .cms_module .cms_ui_controls ul li a {
        display: block;
        margin: 0;
        padding: 5px;
        color: #fff;
        text-decoration: none;
        text-transform: none;
        text-shadow: none;
        font-family: Arial, Tahoma, sans-serif;
        font-size: 11px;
    }
    .cms_module .cms_ui_controls ul li a:hover, #imNav li.active a {
        background-color: #AFAFAF;
        color: #000;
    }

    a.cms_ui_controls_menu_link {
        width: 18px;
        height: 21px;
        padding: 0 10px;
        text-indent: -999px;
        overflow: hidden;
    }
    /** CSS triangle **/
    a.cms_ui_controls_menu_link i {
        display: block;
        width: 0;
        height: 0;
        margin: 3px 0 0 4px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #eee;
    }
    .cms_module .cms_ui_controls li ul {
        position: absolute;
        top: 21px;
        left: -999em;
        width: 100px;
        overflow: visible;
        color: #eee;
        background: #222;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        padding-bottom: 5px;
        z-index: 972;
    }
    .cms_module .cms_ui_controls li:hover ul {
        left: -40px;
    }
        .cms_module .cms_ui_controls li ul li {
            float: none;
            text-transform: none;
        }

/* jQuery UI overrides */
.ui-dialog-buttonpane .ui-dialog-buttonset { float: left!important; margin-left: 172px; }



/*
Twitter Bootstrap Styles (hi-jacked!)
================================================== */
.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}
.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
.topbar h3 {
  position: relative;
}
.topbar h3 a, .topbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
.topbar p {
  margin: 0;
  line-height: 40px;
}
.topbar p a:hover {
  background-color: transparent;
  color: #ffffff;
}
.topbar form {
  float: left;
  margin: 5px 0 0 0;
  position: relative;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.topbar form.pull-right {
  float: right;
}
.topbar input {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 13px;
  line-height: 1;
  padding: 4px 9px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.topbar input:-moz-placeholder {
  color: #e6e6e6;
}
.topbar input::-webkit-input-placeholder {
  color: #e6e6e6;
}
.topbar input:hover {
  background-color: #bfbfbf;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
.topbar input:focus, .topbar input.focused {
  outline: 0;
  background-color: #ffffff;
  color: #404040;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.topbar-inner, .topbar .fill {
  background-color: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.topbar div > ul, .nav {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}
.topbar div > ul > li, .nav > li {
  display: block;
  float: left;
}
.topbar div > ul a, .nav a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
.topbar div > ul a:hover, .nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
.topbar div > ul .active > a, .nav .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}
.topbar div > ul.secondary-nav, .nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.topbar div > ul.secondary-nav .menu-dropdown,
.nav.secondary-nav .menu-dropdown,
.topbar div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .dropdown-menu {
  right: 0;
  border: 0;
}
.topbar div > ul a.menu:hover,
.nav a.menu:hover,
.topbar div > ul li.open .menu,
.nav li.open .menu,
.topbar div > ul .dropdown-toggle:hover,
.nav .dropdown-toggle:hover,
.topbar div > ul .dropdown.open .dropdown-toggle,
.nav .dropdown.open .dropdown-toggle {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}
.topbar div > ul .menu-dropdown,
.nav .menu-dropdown,
.topbar div > ul .dropdown-menu,
.nav .dropdown-menu {
  background-color: #333;
}
.topbar div > ul .menu-dropdown a.menu,
.nav .menu-dropdown a.menu,
.topbar div > ul .dropdown-menu a.menu,
.nav .dropdown-menu a.menu,
.topbar div > ul .menu-dropdown .dropdown-toggle,
.nav .menu-dropdown .dropdown-toggle,
.topbar div > ul .dropdown-menu .dropdown-toggle,
.nav .dropdown-menu .dropdown-toggle {
  color: #ffffff;
}
.topbar div > ul .menu-dropdown a.menu.open,
.nav .menu-dropdown a.menu.open,
.topbar div > ul .dropdown-menu a.menu.open,
.nav .dropdown-menu a.menu.open,
.topbar div > ul .menu-dropdown .dropdown-toggle.open,
.nav .menu-dropdown .dropdown-toggle.open,
.topbar div > ul .dropdown-menu .dropdown-toggle.open,
.nav .dropdown-menu .dropdown-toggle.open {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}
.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
  color: #999;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.topbar div > ul .menu-dropdown li a:hover,
.nav .menu-dropdown li a:hover,
.topbar div > ul .dropdown-menu li a:hover,
.nav .dropdown-menu li a:hover {
  background-color: #191919;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));
  background-image: -moz-linear-gradient(top, #292929, #191919);
  background-image: -ms-linear-gradient(top, #292929, #191919);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
  background-image: -webkit-linear-gradient(top, #292929, #191919);
  background-image: -o-linear-gradient(top, #292929, #191919);
  background-image: linear-gradient(top, #292929, #191919);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);
  color: #ffffff;
}
.topbar div > ul .menu-dropdown .active a,
.nav .menu-dropdown .active a,
.topbar div > ul .dropdown-menu .active a,
.nav .dropdown-menu .active a {
  color: #ffffff;
}
.topbar div > ul .menu-dropdown .divider,
.nav .menu-dropdown .divider,
.topbar div > ul .dropdown-menu .divider,
.nav .dropdown-menu .divider {
  background-color: #222;
  border-color: #444;
}
.topbar ul .menu-dropdown li a, .topbar ul .dropdown-menu li a {
  padding: 4px 15px;
}
li.menu, .dropdown {
  position: relative;
}
a.menu:after, .dropdown-toggle:after {
  width: 0;
  height: 0;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.menu-dropdown, .dropdown-menu {
  background-color: #ffffff;
  float: left;
  display: none;
  position: absolute;
  top: 40px;
  z-index: 900;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  margin-left: 0;
  margin-right: 0;
  padding: 6px 0;
  zoom: 1;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 0 1px 1px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.menu-dropdown li, .dropdown-menu li {
  float: none;
  display: block;
  background-color: none;
}
.menu-dropdown .divider, .dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #eee;
  border-bottom: 1px solid #ffffff;
}
.topbar .dropdown-menu a, .dropdown-menu a {
  display: block;
  padding: 4px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #808080;
  text-shadow: 0 1px 0 #ffffff;
}
.topbar .dropdown-menu a:hover,
.dropdown-menu a:hover,
.topbar .dropdown-menu a.hover,
.dropdown-menu a.hover {
  background-color: #dddddd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
}
.open .menu,
.dropdown.open .menu,
.open .dropdown-toggle,
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.open .menu-dropdown,
.dropdown.open .menu-dropdown,
.open .dropdown-menu,
.dropdown.open .dropdown-menu {
  display: block;
}
.tabs, .pills {
  margin: 0 0 18px;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
}
.tabs:after, .pills:after {
  clear: both;
}
.tabs > li, .pills > li {
  float: left;
}
.tabs > li > a, .pills > li > a {
  display: block;
}
.tabs {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px;
}
.tabs > li {
  position: relative;
  margin-bottom: -1px;
}
.tabs > li > a {
  padding: 0 15px;
  margin-right: 2px;
  line-height: 34px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.tabs > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  border-color: #eee #eee #ddd;
}
.tabs .active > a, .tabs .active > a:hover {
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.tabs .menu-dropdown, .tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.tabs a.menu:after, .tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}
.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
  border-color: #999;
}
.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
  border-top-color: #555;
}
.pills a {
  margin: 5px 3px 5px 0;
  padding: 0 15px;
  line-height: 30px;
  text-shadow: 0 1px 1px #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pills a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #00438a;
}
.pills .active a {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #0069d6;
}
.pills-vertical > li {
  float: none;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane,
.tab-content > div,
.pill-content > div {
  display: none;
}
.tab-content > .active, .pill-content > .active {
  display: block;
}
.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
  display: inline;
  text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #bfbfbf;
}
.breadcrumb .active a {
  color: #404040;
}

/**
 * CKEditor overrides for <code> and <pre> buttons
 * Display the button's label as text in the editor (rather than using an icon).
 *
 * This is based on a blog post by Peter Petrik:
 * http://peterpetrik.com/blog/ckeditor-and-geshi-filter
 */
.cke_skin_kama .cke_button_code-button-pre span.cke_icon,
.cke_skin_kama .cke_button_code-button-code span.cke_icon {
  display: none !important;
}
.cke_skin_kama .cke_button_code-button-pre span.cke_label,
.cke_skin_kama .cke_button_code-button-code span.cke_label {
  display: inline;
  font-size: 90%;
}
