/**
 * Admin Styles for Cont-xt CMS
 */
body {
    padding-top: 25px;
}

/*
ADMIN UI
================================================== */
.cms_ui { 
    font-size: 12px;
    font-family: Arial, Tahoma, sans-serif;
    line-height: 1;
}
    /* FORM styles */
    .cms_ui form {
        margin: 0;
        padding: 0;
    }
    .cms_ui form .app_form input, .cms_ui form .app_form textarea, .cms_ui form {
        font-size: 14px;
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cms_ui form .app_form textarea {
        width: 80%;
    }
    .cms_ui form .app_form_field {
        display: block;
        margin: 5px 0;
        padding: 3px;
        clear: both;
    }
    .cms_ui form .app_form_field label {
        display: block;
        margin: 0;
        padding: 6px 10px 7px 10px;
        width: 140px;
        float: left;
        text-align: right;
        cursor: pointer;
        font-size: 14px;
        background: #f5f7f8;
    }
    .cms_ui form .app_form_field span.app_form_field_input {
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        background: #fff;
    }
    .cms_ui form .app_form_field span.app_form_field_after {
        display: block;
        float: left;
        padding: 5px 10px;
    }
    .cms_ui form .app_form_hidden {
        display: none;
    }
    .cms_ui form .app_form_actions {
        clear: both;
        padding-top: 20px;
        padding-left: 160px;
    }

    /* TABLE styles */
    .cms_ui table.app_datagrid {
        width: 100%;
        background: #fff;
    }
    .cms_ui table.app_datagrid thead tr th,
    .cms_ui table.app_datagrid tbody td {
        padding: 10px;
        vertical-align: middle;
    }
    /* thead/th is used for blue column labels */

    .cms_ui table.app_datagrid thead tr th {
        background: #d1e4f2;
        color: #627789;
        border-top: 1px solid #cfccc2;
        font-weight: bold;
        text-shadow: 0em 1px #fff;
        text-align: left;
        white-space: nowrap;
    }
    .cms_ui table.app_datagrid tbody tr {
        border-top: 1px solid #cfccc2;
    }
    .cms_ui table.app_datagrid tbody td {
        border-top: 1px solid #cfccc2;
    }
    .cms_ui table.app_datagrid tr.even {
        background: #f5f7f8;
    }
    .cms_ui table.app_datagrid tr.odd {
        background: #fff;
    }

/*
ADMIN BAR
================================================== */
#cms_admin_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background: #333;
    border-bottom: 1px solid #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
    background-image: -moz-linear-gradient(100% 100% 90deg, #222, #444);
    z-index: 999;
}
    #cms_admin_bar_inside { height: 24px; overflow: hidden; }
    /* Navigation */
    #cms_admin_bar ul { list-style: none; margin: 0; padding: 0; }
    #cms_admin_bar ul li { float: left; margin: 0; }
    #cms_admin_bar ul li a {
        display: block;
        padding: 7px 10px 8px 10px;
        color: #eee;
        font-size: 11px;
        border-left: 1px solid #666;
        border-right: 1px solid #333;
    }
    #cms_admin_bar ul li a:hover, #imNav li.active a { background-color: #444; }
    /* add content button */
    #cms_admin_bar_primary ul li a {
        display: block;
        float: left;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #0CA009;
        color: #fff;
        margin: 0 10px;
        padding: 10px 15px;
        border-radius: 5px;
        border-color: #089B07;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#61E510), to(#089B07));
        background-image: -moz-linear-gradient(100% 100% 90deg, #089B07, #61E510);
    }
    #cms_admin_bar_primary a#cms_admin_bar_editPage {
        margin-right: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
    }
    #cms_admin_bar_primary a#cms_admin_bar_addContent {
        margin-left: 0;
        border-left: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
    }
    /* user menu */
    #cms_admin_nav_user {
        float: right;
    }

/*
MODAL / DIALOG
============================= */
#cms_modal {
    background: #fff;
    display: none;
}
    #cms_modal_content {
        color: #333;
        overflow: auto;
    }
    #cms_modal .cms_ui_controls {
        display: none!important;
    }
    #cms_modal .cms_module.cms_ui_edit {
        background-color: transparent!important;
    }
    #cms_modal .cms_module.cms_ui_modulebar {
        display: none!important;
    }
/*
.ui-dialog {
    width: 600px!important;
}
.ui-dialog-titlebar, .ui-dialog-title {
    font-size: 12px;
    font-weight: bold;
}
    #cms_modal .cms_ui_controls {
        display: none!important;
    }
    #cms_modal .cms_module.cms_ui_edit {
        background-color: transparent!important;
    }
    #cms_modal .cms_module.cms_ui_modulebar {
        display: none!important;
    }
*/


/*
FILEBROWSER
================================================== */
div.cms_filebrowser ul,
div.cms_filebrowser ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.cms_filebrowser li {
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.cms_filebrowser_tile {
    z-index: 1;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
}
div.cms_filebrowser_tile nav {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    opacity: 0.8;
    background-color: #000;
    color: #fff;
    font-size: 11px;
}
div.cms_filebrowser_tile nav li {
    padding: 0 0 4px 0;
}
div.cms_filebrowser_tile nav a {
    color: #fff;
}

/*
ADMIN PANES
================================================== */
div.cms_ui_pane {
    position: fixed;
    left: 0;
    width: 150px;
    background: #666;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    opacity: 0.8;
    z-index: 980;
}
    div.cms_ui_pane h2 {
        margin: 0;
        padding: 6px 10px;
        background: #333;
        color: #fff;
        font-size: 14px;
    }
    div.cms_ui_pane_info {
        margin: 1px;
        padding: 5px;
        background-color: #ffff99;
        color: #000;
    }
    div.cms_ui_pane_content {
        margin: 5px;
    }

#cms_admin_modules {
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    height: 150px;
    visibility: hidden;
    z-index: 980;
    background: #666;
}
    #cms_admin_modules h3 {
        margin: 0;
        padding: 6px 10px;
        background: #333;
        color: #fff;
        font-size: 14px;
    }
    #cms_admin_modules .cms_module_tile {
        float: left;
        width: 80px;
        height: 80px;
        margin: 5px;
        background: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        cursor: move;
        font-weight: bold;
    }
    #cms_admin_modules .cms_module_tile:hover {
        background: #CFE9FF;
    }

/*
REGION / MODULE UI
============================= */
.cms_region {
    min-height: 10px;
}
.cms_region_highlight {
    background-color: #DFEBFF;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.cms_module_placeholder {
    background: #ccc;
    border: 2px solid #333;
    opacity: 0.6;
}
/* Module admin controls */
.cms_module {
    position: relative;
    min-height: 20px;
}
.cms_module .cms_ui_controls {
    display: none;
    position: absolute;
    top: -21px;
    left: 0;
    width: 200px;
    height: 21px;
    overflow: visible;
    color: #eee;
    background: #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
    background-image: -moz-linear-gradient(100% 100% 90deg, #222, #444);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    cursor: move;
}
    .cms_module .cms_ui_controls {
        font-size: 11px;
    }
    .cms_module .cms_ui_controls .cms_ui_title {
        display: block;
        padding: 5px 8px;
    }
.cms_module.cms_ui_edit {
    border: 2px dashed #bbb;
}
.cms_module.cms_ui_edit .cms_ui_modulebar {
    display: block!important;
}
.cms_module.cms_ui_edit .cms_ui_controls {
    display: block!important;
}
.cms_module .cms_ui_controls ul {
    position: absolute;
    top: 0;
    right: 5px;
    list-style: none;
    margin: 0px 0 0 0;
    padding: 0;
}
    /* Module Controls */
    .cms_module .cms_ui_controls ul li {
        float: left;
        margin: 0;
        padding: 0 1px;
    }
    .cms_module .cms_ui_controls ul li a {
        display: block;
        padding: 5px;
        color: #fff;
        text-decoration: none;
    }
    .cms_module .cms_ui_controls ul li a:hover, #imNav li.active a {
        background-color: #AFAFAF;
        color: #000;
    }